Back/appsettings.json
Back/appsettings.Development.json
Back/bin
Back/.idea
Back/obj

Back/Folder.DotSettings.user
Back/Back.http
Back/.idea/.idea.Back.dir/.idea/vcs.xml
Back/.idea/.idea.Back.dir/.idea/workspace.xml

Back/obj/project.assets.json
Back/obj/Debug/net9.0/Back.GeneratedMSBuildEditorConfig.editorconfig
Back/obj/Debug/net9.0/staticwebassets.*







