<p-card *ngIf="!loading; else loadingSkeleton">
  <div class="flex justify-between items-center mb-4">
    <div class="font-semibold text-xl">Revenue Stream</div>
    <div class="flex gap-2">
      <button
        pButton
        type="button"
        label="Toggle Time Frame"
        class="p-button-text"
        (click)="toggleTimeFrame()"
      ></button>
      <button
        pButton
        type="button"
        label="Toggle Grouping"
        class="p-button-text"
        (click)="toggleGrouping()"
      ></button>
    </div>
  </div>
  <p-chart
    type="bar"
    [data]="chartData"
    [options]="chartOptions"
    height="50dvh"
  />
</p-card>
<ng-template #loadingSkeleton>
  <p-skeleton height="50dvh"></p-skeleton>
</ng-template>
