<p-dialog [(visible)]="visible" [modal]="true">
  <ng-template #header>
    <div class="flex items-center">
      <h3 class="text-3xl font-bold text-gray-800 truncate">
        {{ allocation.name }}
      </h3>
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
          <p-button
            variant="text"
            (click)="menu.toggle($event)"
            icon="pi pi-ellipsis-v"
            class="p-button-rounded p-button-text"
            severity="secondary"
            size="small"
          ></p-button>
        </div>
      </div>
    </div>
  </ng-template>
  <div
    *ngIf="allocation.transactions.length > 0"
    class="w-full border-t border-gray-200"
  ></div>
  <p-dialog
    appendTo="body"
    [modal]="true"
    [(visible)]="dialogVisible"
    header="New Transaction"
  >
    <app-new-transaction
      (onFinish)="handleNewTransactionCreated()"
      [allocationId]="allocation.id"
    ></app-new-transaction>
  </p-dialog>

  <app-allocations-transactions-table
    *ngIf="allocation.transactions.length > 0"
    [transactions]="allocation.transactions"
    class="mt-4"
  ></app-allocations-transactions-table>
  <div class="w-full border-t border-gray-200 mb-4 mt-2"></div>
  <div class="flex justify-center">
    <p-button
      (click)="showDialog()"
      label="Add Transaction"
      icon="pi pi-cart-plus"
      class="p-button-rounded"
      severity="primary"
    ></p-button>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex justify-center gap-4">
      <p class="text-gray-600">
        <strong>Allocated:</strong> {{ formatMoney(allocation.amount) }}
      </p>
      <p class="text-gray-600">
        <strong>Actual:</strong> {{ formatMoney(totalTransactionsAmount) }}
      </p>
    </div>
  </div>
</p-dialog>
