<p-dialog [(visible)]="visible" [modal]="true">
  <ng-template #header>
    <div class="flex items-center">
      <span>
        <span class="flex items-center">
          <h3 class="text-3xl font-bold text-gray-800 truncate">
            {{ allocation.name }}
          </h3>
          <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
          <p-button
            variant="text"
            (click)="menu.toggle($event)"
            icon="pi pi-ellipsis-v"
            class="p-button-rounded p-button-text"
            severity="secondary"
            size="small"
          ></p-button>
        </span>
        <h5 class="text-lg text-gray-600">
          {{ allocation.description }}
          {{ formatMoney(totalTransactionsAmount) }} /
          {{ formatMoney(allocation.amount) }}
        </h5>
      </span>
    </div>
  </ng-template>
  <div
    *ngIf="allocation.transactions.length > 0"
    class="w-full border-t border-gray-200"
  ></div>
  <p-dialog
    appendTo="body"
    [modal]="true"
    [(visible)]="transactionDialog"
    header="New Transaction"
  >
    <app-transaction-manager
      (onFinish)="handleNewTransactionCreated()"
      [allocationId]="allocation.id"
    ></app-transaction-manager>
  </p-dialog>

  <app-allocations-transactions-table
    *ngIf="allocation.transactions.length > 0"
    [transactions]="allocation.transactions"
    class="mt-4"
  ></app-allocations-transactions-table>
  <div class="w-full border-t border-gray-200 mb-4 mt-2"></div>
  <div class="flex justify-center">
    <p-button
      (click)="showDialog()"
      label="Add Transaction"
      icon="pi pi-cart-plus"
      class="p-button-rounded"
      severity="primary"
    ></p-button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="allocationDialog"
  [modal]="true"
  [header]="'Edit Allocation'"
  [appendTo]="'body'"
>
  <app-allocation-manager [allocation]="allocation"></app-allocation-manager>
</p-dialog>
