<main>
  <div class="h-screen flex flex-col p-4">
    <p-menubar [model]="items" [hidden]="!isAuthed">
      <ng-template #end>
        <app-month-select></app-month-select>
      </ng-template>
    </p-menubar>
    <div class="flex-grow overflow-hidden">
      <router-outlet />
    </div>
  </div>
</main>
<p-toast position="bottom-center" [baseZIndex]="5000">
  <ng-template let-message #message>
    <div class="flex flex-col items-start flex-auto">
      <div class="flex items-center gap-2"></div>
      <div class="font-medium text-lg my-4">{{ message.detail }}</div>
    </div>
  </ng-template>
</p-toast>
