<li
  class="flex flex-col md:flex-row md:items-center md:justify-between cursor-pointer"
  (click)="showDialog()"
>
  <div class="w-60">
    <span
      class="text-surface-900 dark:text-surface-0 font-medium mr-2 mb-1 md:mb-0"
      >{{ allocationName }}</span
    >
    <div class="mt-1 text-muted-color">{{ allocationAmount }}</div>
  </div>
  <div class="flex justify-center gap-4 text-xs text-muted-color w-full">
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Remaining Budget')"
      [class]="getClass('Remaining Budget')"
    >
      <span class="truncate text-muted-color-emphasis w-fit">Remaining:</span>
      <div class="truncate">{{ remainingBudget }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Transaction Count')"
      [class]="getClass('Transaction Count')"
    >
      <span class="truncate text-muted-color-emphasis w-fit"
        >Transactions:</span
      >
      <div class="truncate">{{ transactionCount }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Average Transaction Amount')"
      [class]="getClass('Average Transaction Amount')"
    >
      <span class="truncate text-muted-color-emphasis w-fit"
        >Avg Transaction:</span
      >
      <div class="truncate">{{ averageTransactionAmount }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Largest Transaction')"
      [class]="getClass('Largest Transaction')"
    >
      <span class="truncate text-muted-color-emphasis w-fit">Largest:</span>
      <div class="truncate">{{ largestTransaction }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Oldest Transaction')"
      [class]="getClass('Oldest Transaction')"
    >
      <span class="truncate text-muted-color-emphasis w-fit">Oldest:</span>
      <div class="truncate">{{ oldestTransaction }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'Days Since Last Transaction')"
      [class]="getClass('Days Since Last Transaction')"
    >
      <span class="truncate text-muted-color-emphasis w-fit"
        >Days Since Last:</span
      >
      <div class="truncate">{{ daysSinceLastTransaction }}</div>
    </div>
    <div
      class="truncate w-fit"
      (click)="handleStatClick($event, 'User With Most Transactions')"
      [class]="getClass('User With Most Transactions')"
    >
      <span class="truncate text-muted-color-emphasis w-fit">Top User:</span>
      <div class="truncate">{{ userWithMostTransactions }}</div>
    </div>
  </div>

  <div class="mt-2 md:mt-0 flex items-center">
    <div
      class="bg-surface-300 dark:bg-surface-500 rounded-border overflow-hidden w-40 lg:w-24"
      style="height: 8px"
    >
      <div
        [ngClass]="bgColor"
        class="h-full"
        [style.width.%]="percentUsed"
      ></div>
    </div>
    <span
      [ngClass]="textColor"
      class="ml-4 font-medium cursor-pointer px-2 rounded-full whitespace-nowrap"
      (click)="togglePercentOrTotals($event)"
    >
      {{ displayString }}
    </span>
  </div>
</li>

<app-allocation
  [(visible)]="visible"
  [allocation]="allocation"
></app-allocation>
