<div class="h-full pt-4">
  <p-table
    [loading]="isLoading"
    [value]="transactions"
    [rows]="25"
    [paginator]="true"
    scrollHeight="flex"
    [scrollable]="true"
  >
    <ng-template #header>
      <tr>
        <th class="w-14">Date</th>
        <th>Location</th>
        <th>Allocation</th>
        <th>User</th>
        <th class="w-14">Price</th>
      </tr>
    </ng-template>
    <ng-template #body let-transaction>
      <tr>
        <td>{{ formatDate(transaction.date) }}</td>
        <td>{{ transaction.location }}</td>
        <td>
          <app-allocate-transaction
            (onChange)="setAllocation($event)"
            [transaction]="transaction"
            [allocations]="allocations"
          ></app-allocate-transaction>
        </td>
        <td class="whitespace-nowrap">{{ getUser(transaction) }}</td>
        <td>{{ formatMoney(transaction.price) }}</td>
      </tr>
    </ng-template>
    <ng-template #paginatorleft> </ng-template>

    <ng-template #paginatorright>
      <button
        [disabled]="allocateButtonDisabled"
        (click)="handleAllocate()"
        type="button"
        pButton
        size="small"
      >
        Allocate
      </button>
    </ng-template>
  </p-table>
</div>
